{% extends 'base.html.twig' %}

{% block title %}Hello EmployesController!
{% endblock %}

{% block body %}
	<br><br>
	<h1>New Employe</h1>
	<a class="btn btn-dark" href="{{path('app_employes_new')}}">Create New Employe</a>
	<br><br>
	{% for message in app.flashes('success') %}
		<div class='alert alert-success'>{{message}}</div>
	{% endfor %}
	<br><br>


	<table class="table">
		<thead>
			<tr class="table-primary">
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">FirstName</th>
				<th scope="col">Salary</th>
				<th scope="col">Departement</th>
				<th scope="col" colspan="3" class="text-center">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for employe in employes %}
				<tr>
					<td scope="row">
						{{employe.id}}</td>
					<td>
						{{employe.name}}</td>
					<td>
						{{employe.firstname}}</td>
					<td>
						{{employe.salary}}</td>
					<td>
						{{employe.departement}}</td>
					<td>
						<a href="{{path('app_employes_edit',{'id':employe.id})}}" class="btn btn-warning">Edit</td>
					</td>
					<td>
						<a href="{{path('app_employes_delete',{'id':employe.id})}}" class="btn btn-danger">Delete</td>
					</td>
					<td>
						<a href="{{path('app_employes_show',{'id':employe.id})}}" class="btn btn-success">Show</td>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</tbody>
</table>
<br><br>{% endblock %}
