{% extends 'base.html.twig' %}

{% block title %}Hello EmployesController!
{% endblock %}

{% block body %}
	<br><br>
	<table class="table">
		<thead>
			<tr class="table-primary">
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">FirstName</th>
				<th scope="col">Salary</th>
				<th scope="col">Departement</th>
			</tr>
		</thead>
		<tbody>
			{% for employe in employes %}
				<tr>
					<th scope="row">
						{{employe.id}}</th>
					<td>
						{{employe.name}}</td>
					<td>
						{{employe.firstname}}</td>
					<td>
						{{employe.salary}}</td>
					<td>
						{{employe.departement}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</tbody>
</table>
<br><br>{% endblock %}
